# Maven
spring-petclinic-admin-server/target/
spring-petclinic-api-gateway/target/
spring-petclinic-config-server/target/
spring-petclinic-customers-service/target/
spring-petclinic-discovery-server/target/
spring-petclinic-vets-service/target/
spring-petclinic-visits-service/target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/
